body{
    margin: 0;
}

div{
    padding:5px;
}

.container{
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
    height: 100px;
}

th{
    background-color: darkolivegreen;
    padding: 10px;
    color: white;
}

